body {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    background-color: lightgray;
    min-height: 100vh;
}

header {
    height: 100px;
}

main {
    flex: 1;
}

footer {
    height: 25px;
    background-color: #e3f2fd;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
  }

.navbar-brand{
    padding-left: 20px;
}

menu .nav-item{
    padding: .5em;
}

.nav-link.active{
    border-bottom: solid black thick;
}