.img1 {
    width: 40vw;
}

.carousel {
    width: 40vw;
    margin: auto;
}

h2 {
    text-align: center;
}

h5 {
    margin: 0;
}

.carousel-indicators{
    margin-bottom: 0;
}

.carousel-caption{
    padding: 0;
}

.carousel-caption a {
    color: white;
}

.user {
    padding-left: 0.5em;
}

.usersName {
    color:darkgoldenrod;
}

.updates {
    padding-left: 0.5em;
}

@media (max-width: 600px) {
    .img1{
        width: 90vw;
    }
    .carousel{
        width: 90vw;
    }
}