.body {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    background-color: lightgray;
    min-height: 100vh;
}

header {
    height: 80px;
}

main {
    flex: 1;
    padding-bottom: 25px;
}

footer {
    height: 25px;
    background-color: #e3f2fd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
  }

.navbar{
    background-color: #e3f2fd;
    max-height: 80px;
}  

.navbar-brand{
    padding-left: 20px;
}

menu .nav-item{
    padding: .5em;
}

.nav-link.active{
    border-bottom: solid black thick;
}

.input-group {
    width: 50vw;
    align-items: center;
    margin: auto;
    min-width: 300px;
}

footer a{
    float: right;
    padding-right: 1em;
}

footer span{
    padding-left: .5em;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

@media (max-width: 500px) {
    .navbar-brand{
        display: none;
    }
}